# Flask and its dependencies
Flask==3.0.3
Flask-Cors==4.0.1
blinker==1.8.2
click==8.1.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.3

# TensorFlow Lite for running the model
tflite-runtime==2.16.1
numpy==1.26.4 # Kept for image processing

# OpenCV and its dependencies
opencv-python==4.10.0.84

# Pillow (Image Library)
Pillow==10.4.0

# Requests and its dependencies
requests==2.32.3
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
urllib3==2.2.2

# Rich (Terminal Formatting)
rich==13.7.1
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.18.0